*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: #fff;
    padding: 30px;
}
#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
#card h1{
    font-size: 25px;
    margin: 20px 0px;
}
#card h5{
    font-size: 25px;
     color: red;
     margin: 20px 0px;

}
#card button{
 background-color: crimson;
 color: #fff;
 font-weight: 700;
 padding: 12px 20px;
 margin-left: 60px;
 border-radius: 5px;
 cursor: pointer;
 border: none;
}
#card button:hover{
    background-color: burlywood;
}

